body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1 1 auto;
}

header, footer, section {
  display: block;
}

.nav-header {
  height: 52px;
  border: 0;
  border-radius: 0;
  background: rgba(0,0,0,0.25);
  margin-bottom: 0;
  position: absolute;
  width: 100%;
  z-index: 10;
}

footer h1 {
    font-size: 16px;
    font-weight: normal;
    color: #ddd;
    margin-bottom: 16px;
}

.footer {
    font-size: 14px;
    font-weight: normal;
    color: #bbb;
}

.contrib-hero {
  background: linear-gradient(to bottom, #3f4c6b 0%,#222a44 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 320px;
}

.contrib-hero > .container > .row {
  padding-top: 100px;
}

.contrib-main > .container > .row {
  padding-bottom: 100px;
}

div#status {
  display: flex;
  flex-direction: row;
}

div#action {
  color: #444;
}

.container {
  width: 1170px;

  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
/*  line-height: 96px;*/
  color: #bbb;
}

.page-footer {
  background: black;
  padding: 40px 0;
}

div.status-rest {
  flex: 1 1 auto;
}

div.status-rest > div {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

div.status-rest > div > .title {
  text-transform: uppercase;
  border-right: 1px rgba(255, 255, 255, 0.2) solid;
  margin-right: 3em;
  padding-right: 3em;
  width: 10em;
  text-align: right;
}

div.status-rest > div > .field {
  margin-top: 0px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

span#logo {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  text-shadow: 0px 1px 2px black;
  color: white;
  line-height: 52px;
}

div#status-title {
  color: white;
  flex: 1 1 auto;
  text-align: center;
  text-shadow: 0 1px 1px black;
  font-size: 20px;
  padding-top: 8px;
}

div#status-title > h1 {
  font-size: 36px;
  font-weight: 400;
  text-shadow: 0 1px 2px black;
  margin-bottom: 15px;
}

div#contributionPanel {
	border-radius: 2em;
	border: 1px solid #ddd;
	background-color: #f7f7f7;
	margin: 0em 10em;
	align-items: center;
	display: flex;
	flex-direction: column;
	padding-top: 2em;
}

div#contributionPanel > * {
	flex: 1 1 auto;
	margin-bottom: 2em;
}

.contrib-main section {
  padding: 2em 14em;
  color: #222;
}

.contrib-main section h1 {
  color: black;
  font-size: 36px;
  font-weight: 200;
  text-align: center;
  margin-bottom: 48px;
}

.contrib-main section h2 {
  color: #222;
  font-size: 24px;
  font-weight: 200;
  text-align: center;
  margin-bottom: 24px;
}

._progress {
	padding: 1em;
	border-radius: 0.5em;
	border: 1px solid #ccc;
	background-color: #eee;
	text-align: center;
}

._progress._confirmed {
	border-color: #8c8;
	background-color: #efe;
}

._progress._failed {
	border-color: #c88;
	background-color: #fee;
}

._progress._null {
	display: none;
}

._account {
/*	font-family: Monospace;*/
}
._denom {
	font-size: small;
	border: 1px #ccc solid;
	padding: 0px 3px;
	border-radius: 8px;
	font-weight: normal;
	margin-left: 3px;
}
._balance {
	font-weight: bold;
}
._grand ._denom { background-color: #ffe3e3; }
._grand._balance { color: #400; }
._ether ._denom { background-color: #fff3e5; }
._ether._balance { color: #420; }
._finney ._denom { background-color: #ffe; }
._finney._balance { color: #440; }
._szabo ._denom { background-color: #efe; }
._szabo._balance { color: #040; }
._wei ._denom { background-color: #eff; }
._wei._balance { color: #044; }
._dao ._denom { background-color: #fff; border: 2px #800 solid; vertical-align: middle; position: relative; bottom: 0.14ex; font-weight: bold; }
._dao._balance { color: #800; }

input.balance {
	width: 5ex;
	text-align: right;
}

div.log {
	float: right;
}

div.progress {
  margin-top: 0;
  line-height: 0pt;
  background: #b0c8f0;
}

span.progress-done {
  display: inline-block;
  height: 2pt;
  vertical-align: top;
  background: #58f;
  animation-duration: 15s;
}

div.card {
  background: white;
  box-shadow: 0px 2px 8px 0px #aaa;
  margin-bottom: 1ex;
}

div.card-body {
  padding: 0.5em;
}

div.card-datestamp {
	float: right;
	color: #888;
	font-size: small;
	margin-left: 1em;
}

div.card-part {
  background: white;
  box-shadow: 0px 2px 6px 0px #aaa;
  border-bottom: 1px #ccc dashed;
}

div.card-part:last-of-type {
  border-bottom: none;
}

div.card.pendingEvent div.card-body {
	opacity: 0.25;
}

div.card-body.deposit {
  border-left: 5pt #fcc solid;
}

div.card-body.withdraw {
  border-left: 5pt #ccf solid;
}

div.card-label {
	font-size: x-small;
	font-weight: bold;
	vertical-align: bottom;
	min-width: 5em;
	float: left;
}

div.deposit div.card-label {
	color: #f88;
}

div.withdraw div.card-label {
	color: #88f;
}

.button {
    display: inline-block;
    margin: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow:    0 8px 0 #c5376d, 0 15px 20px rgba(0, 0, 0, .35);
    -moz-box-shadow: 0 8px 0 #c5376d, 0 15px 20px rgba(0, 0, 0, .35);
    box-shadow: 0 8px 0 #c5376d, 0 15px 20px rgba(0, 0, 0, .35);
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
    -moz-transition: -moz-box-shadow .1s ease-in-out;
    -o-transition: -o-box-shadow .1s ease-in-out;
    transition: box-shadow .1s ease-in-out;
    font-size: 50px;
    color: #fff;
}

.button span {
    display: inline-block;
    padding: 20px 30px;
    background-color: #ec528d;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(338, 90%, 80%, .8)), to(hsla(338, 90%, 70%, .2)));
    background-image: -webkit-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
    background-image: -moz-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
    background-image: -o-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    font-family: 'Pacifico', Arial, sans-serif;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .7);
    -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
    -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
    -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
    transition: background-color .2s ease-in-out, transform .1s ease-in-out;
}

.button:hover span {
    background-color: #ec6a9c;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .9), 0 0 5px rgba(255, 255, 255, .8);
}

.button:active, .button:focus {
    -webkit-box-shadow:    0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, .3);
    box-shadow:    0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, .3);
}

.button:active span {
    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
}

._isActive {
	border-radius: 0.5ex;
	padding-left: 0.5ex;
	padding-right: 0.5ex;
	font-size: small;
}

._isActive._active {
	border: 0.25ex #ada solid;
	background: #cfc;
}

._isActive._inactive {
	border: 0.25ex #bbb solid;
	background: #ddd;
}

img._accountIcon {
	border-radius: 50%;
	width: 1.25em;
	vertical-align: text-bottom;
}
img._accountIcon._small {
	width: 16px;
}
img._accountIcon._medium {
	width: 32px;
}
img._accountIcon._large {
	width: 56px;
}
img._accountIcon._xlarge {
	width: 128px;
}

img#logoIcon {
    border-radius: 16px;
    width: 32px;
    vertical-align: middle;
    margin-bottom: 4px;
    margin-right: 6px;
}

#youhave {
	font-size: x-large;
}

#extrainfo {
	padding-top: 4em;
	font-size: x-small;
	color: #888;
}

span._online {
	color: #8f8;
}

span._offline {
	color: #888;
}

span._ropsten {
	color: #88f;
}

span._homestead {
	color: #fff;
}

span._fieldValue {
	font-weight: bold;
}
span._fieldValue._basic {
	color: #ddd;
}
span._fieldValue._active {
	color: #8f8;
}
span._fieldValue._before {
	color: #aa8;
}
span._fieldValue._after {
	color: #88f;
}

@media (min-width: 1200px)
